<h4 class="text-center">つぶやく</h4>

<%= form_for Tweet.new do |f| %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <%= f.submit %>

<% end %>

<%= link_to "キャンセル", :back, class: "btn btn-outline-secondary" %>
