<h4 class="text-center">つぶやく</h4>

<%= render 'layouts/errors_notice', object: @tweet %>

<%= form_for Tweet.new do |f| %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, id: 'text' %>
  </div>

  <%= f.label :image %><br />
  <button type="button" class="btn btn-outline-secondary rounded-pill">
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "image-select-btn" %>
  </button>

  <br />
  <%= f.submit id: 'submit' %>
<% end %>

<br />
<%= link_to "キャンセル", :back, class: "btn btn-outline-secondary" %>
