<h4 class="text-xl-center">ツイート</h4>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to @tweet.user.name, user_path(@tweet.user), method: :get %>
    <%= @tweet.created_at.strftime("%H:%M・%Y/%m/%d") %>
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
    <% end %>
    <div class="name3"><%= simple_format(@tweet.text) %></div>
  </li>
</ul>

<%# いいね機能 %>
<div id="like_<%= @tweet.id %>">
  <%= render "likes/like", tweet: @tweet %>
</div>

<%# RT機能 %>
<div id="retweet_<%= @tweet.id %>">
  <%= render "retweets/retweet", tweet: @tweet %>
</div>

<h4 class="text-xl-center">コメント一覧</h4>
<% if @comments %>
  <% @comments.each do |comment| %>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to comment.user.name, "/users/#{comment.user_id}" %>
        <%= comment.created_at.strftime("%H:%M・%Y/%m/%d") %>
        <% if comment.user_id == current_user.id %>
          <%= link_to '削除', "/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete %>
        <% end %>
        <div class="name2"><%= comment.text %></div>
      </li>
    </ul>
  <% end %>
<% end %>
<br/>

<% if current_user %>
  <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
    <textarea cols="30" name="text" placeholder="コメントする" rows="2" id="text"></textarea>
    <br/>
    <input type="submit" value="コメントの投稿" id="submit">
  <% end %>
<% end %>
