<h4 class="text-center">プロフィール</h4>

<div class="card">
  <div class="card-body">
    <div class="text-right">
      <% if current_user.id == @user.id %>
        <%= link_to "編集", edit_user_registration_path, class: "btn btn-outline-info" %>
      <% else %>
        <div id='follow-button-<%= @user.id %>'>
          <% if current_user.following?(@user) %>
            <%= render 'relationships/unfollow_button', user: @user %>
          <% else %>
            <%= render 'relationships/follow_button', user: @user %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# ユーザ画像表示・拡大表示 %>
    <%=  link_to @user.image.url, 'data-lightbox': @user.image do %>
      <%= render 'users/prof_image', user: @user, size: "150" %>
    <% end %>

    <h4 class="card-title"><%= @user.name %></h4>
    <p class="card-text"><%= @user.bio %></p>
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="fas fa-map-marker-alt"></i> <%= @user.locate %>
    &nbsp;<i class="fas fa-link"></i>
    <% if @user.website%>
      <!-- 別タブで開く。target_blankだけだとSEO的に良くないらしいのでrel~を追加 -->
      <%= link_to @user.website, @user.website, target: :_blank, rel: "noopener noreferrer" %>
    <% end %>
    &nbsp;<i class="far fa-calendar-alt"></i> Joined <%= l @user.created_at, format: :short %>
    </h6>
    <div class="card-link">
      <%= link_to follows_path(@user.id) do %>
        <%= @user.relationships.length %>
        フォロー中&nbsp;&nbsp;
      <% end %>

      <%= link_to followers_path(@user.id) do %>
        <%= @follower.length %>
        フォロワー
      <% end %>
    </div>
  </div>
</div>

<br>

<%= render 'tweets/tweet_list' %>
