<h4 class="text-center"><%= @user.name %></h4>

<div class="card">
  <div class="card-body">
    <p class="card-text">自己紹介</p>
  </div>
  <div class="card-footer">
    <%= @user.bio %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p class="card-text">アカウント作成日</p>
  </div>
  <div class="card-footer">
    <%= l @user.created_at, format: :short %>
  </div>
</div>

<% if current_user.id == @user.id %>
  <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-info" %>
<% else %>
  <div id='follow-button-<%= @user.id %>'>
    <% if current_user.following?(@user) %>
      <%= render 'relationships/unfollow_button', user: @user %>
    <% else %>
      <%= render 'relationships/follow_button', user: @user %>
    <% end %>
  </div>
<% end %>

<%= render 'tweets/tweet_list' %>
