<!DOCTYPE html>
<%# 共通レイアウト%>
<html>
  <head>
    <title>Twit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# ~pathはrails routesで確認可 %>
    <%= link_to "トップ", root_path, class: "btn btn-lg btn-primary" %>

    <%# ログインしていればマイページへ %>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
      <%= link_to user_path(current_user.id), class: "btn btn-outline-success" do %>
        <i class="fas fa-user"></i>
      <% end%>
      <%= link_to tweets_path, class: "btn btn-outline-info" do %>
        <i class="fas fa-home"></i>
      <% end%>
      <%= link_to users_path, class: "btn btn-outline-info" do %>
        <i class="fas fa-users"></i>
      <% end%>
      <%= link_to new_tweet_path, class: "btn btn-outline-info" do %>
        <i class="fal fa-plus"></i>
        <i class="fas fa-pen"></i>
      <% end%>
      <%# :backだと1つしか戻れないのでjsで1つ以上前へ戻る %>
      <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-outline-secondary" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <% end %>

    <h1 class="text-xl-center">Twit</h1>

    <%# フラッシュメッセージ表示%>
    <p class="notice alert-success"><%= notice %></p>
    <p class="notice alert-danger"><%= alert %></p>

    <div class="center-block">
      <%# yieldはrubyの分割メソッド%>
      <%= yield %>
    </div>

  </body>
</html>
